@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-left: 0.005rem
      font-size: 0.8rem
  .logo
    font-size: 1rem
  .phone
    font-size: 1rem

@media screen and ( max-width: 992px )
  .nav
    display: none
  .logo
    font-size: 1.075rem
  .phone
    font-size: 1.075rem
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0

@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .design
    background-color: $dark
    color: $light
    &__card
      margin-bottom: 5.7rem
    &__section-title
      color: $light

@media screen and ( max-width: 570px )
  body
    background-color: $dark
  .menu
    &__logo
      font-size: 1rem
  .projects
    padding-top: 0
    .col-50
      width: 100%
      .swiper
        &-slide
          &__text
            flex-basis: 50%
        &-button-prev
          left: 0
        &-button-next
          left: 0
        &-pagination
          left: 0
    .section-title
      text-align: center
      &__heading
        font-weight: normal
        font-size: 1.6rem
      &__text
        font-size: 1.18rem
        line-height: 1.9rem
      &__word
        display: block
        margin-top: 0
        &::after
          display: none
  .types
    background-color: $light
    &__section-title
      &__heading
        font-size: 4rem
    .card
      &__title
        font-size: 1.2rem
      &__list
        line-height: 1.8rem
        font-size: 1.05rem
      &__pricetag
        font-size: 1.19rem
        padding: 1rem 3.9rem
  .design
    padding-bottom: 0
    &__section-title
      margin-bottom: 2.78rem
    .card
      &__title
        font-size: 14px
      &__list
        line-height: 1.8rem
        font-size: 12px
      &__pricetag
        font-size: 1.19rem
        padding: 1rem 3.9rem
  .section
    &-title 
      &__heading
        font-size: 1.75rem
      &__description
        margin: auto
        margin-top: 1.64rem
        font-size: 1.07rem
        line-height: 135.84%
        max-width: 21.86rem
  .control
    background-color: $dark
    color: $light
    padding-bottom: 0
    .container
      width: 90%    
    &__text
      font-size: 1.1rem
      line-height: 175%
      &::before
        margin-bottom: 1.45rem
    .video
      min-height: 207px
      margin-bottom: 2rem  
      &__play
        width: 19%
    .form
      &__label
        color: rgba(255, 255, 255, 0.5)
        margin-bottom: 0.464rem
        font-size: 1.07rem
      &__input
        color: #fff
    &__input
      &-group
        flex-basis: 100%
        margin-bottom: 4.5rem
        &--full-width  
          margin: 0
          margin-bottom: 1.896rem
    .order
      display: flex
    .slide-text 
      order: -1
    &__button
      width: 100%
      order: 1
      margin-bottom: -1.88rem
      padding: 1.3rem 4.5rem
      font-size: 1.07rem
    .policy
      display: flex
      justify-content: flex-start
      margin: 0
      margin-bottom: 4.459rem
      &__checkbox
        display: none
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
      font-size: 1rem
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__title
      font-size: 1.82rem
    &__scroll-down
      display: none
    &__content
    &__text
      max-width: 305px
      font-size: 1.44rem
      margin-bottom: 2.28rem
      line-height: 1.99rem
      margin-bottom: 3.15rem
    &__button
      display: block
      min-width: 22.86rem
      max-width: 350px
      margin-bottom: 1.85rem
      border-radius: 0
      padding: 1.61rem 5rem
      font-size: 0.952rem
      font-family: sans-serif
  .heading
    font-size: 1.759rem
  .description
    font-size: 1.21rem
    max-width: 290px
  .team
    padding-top: 0
    margin-bottom: 17.857rem
    &__section-title
      .heading
        color: $light
        margin-bottom: 3.714rem
      .description
        color: $light
    &__text
      display: none
    .card
      margin-right: -35px
      &__box
        margin-top: 3.857rem
        margin-left: -35px
  .clients
    display: none
  .footer 
    background: none
    .container
      width: 88%
    .order
      display: flex
      flex-direction: column
    &__wrap
      background-color: $dark
      padding: 0
    &__input
      margin: 0
      margin-bottom: 4.5rem
      &-group
        flex-basis: 100%
        &--full-width
          .input
            margin: 0
            margin-bottom: 1.545rem
    .invalid
      margin-bottom: 1.545rem
    .input
      width: 100%
    .policy
      display: flex
      justify-content: flex-start
      margin-bottom: 67px
      &__checkbox
        display: none
    .button
      font-size: 1.0714rem
      border-radius: 0
      padding: 19px 120px
      width: 100%
    &__menu
      display: none
    .contacts
      order: 1
      &__section-title     
        .heading
          font-size: 1.438rem
          margin-bottom: 1.857rem
      .pictures
        &__contact
          height: 39px
          width: 39px
          margin-left: 0.545rem
          margin-right: 0.545rem 
        &__contact img
          width: 50%
    .map
      margin-bottom: 3.2rem
      order: 0
  .modal
    &__button
      width: 100%



@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
  .design
  background-color: $dark
  &__section-title
    color: $light
  &__card
    margin-bottom: 5.7rem

  