@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-left: 0.005rem
      font-size: 0.8rem
  .logo
    font-size: 1rem
  .phone
    font-size: 1rem

@media screen and ( max-width: 992px )
  .nav
    display: none
  .logo
    font-size: 1.075rem
  .phone
    font-size: 1.075rem
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0

@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .design
    background-color: $dark
    color: $light
    &__card
      margin-bottom: 5.7rem
  &__section-title
    color: $light

@media screen and ( max-width: 570px )
  .menu
    &__logo
      font-size: 1rem
  
  .section
    &-title 
      &__description
        margin: auto
        margin-top: 1.64rem
        font-size: 1.07rem
        line-height: 135.84%
        max-width: 21.86rem
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
      font-size: 1rem
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__title
      font-size: 1.8rem
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.45rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem

@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
  .design
  background-color: $dark
  &__section-title
    color: $light
  &__card
    margin-bottom: 5.7rem

  